@model CareerCloud.Pocos.ApplicantProfilePoco



@{
    
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Applicant Profile for @Model.SecurityLogin.FullName</h4>

    <div>
        <p>
            Search Jobs: <input id="searchText" type="text" />
            <input type="submit" value="Search" onclick="location.href='@Url.Action("ApplyViewForApplicant", "ApplicantProfile")?id=@Model.Id&searchString=' + $('#searchText').val()" /> |
        </p>
    </div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Annual Salary
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CurrentSalary)
        </dd>
        <dt class = "col-sm-2">
            Hourly Rate
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CurrentRate)
            @Html.DisplayFor(model => model.Currency)
        </dd>
        <dt class = "col-sm-2">
            Address
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Street)
            @Html.DisplayFor(model => model.City)
            @Html.DisplayFor(model => model.Province)
            @Html.DisplayFor(model => model.SystemCountryCode.Code)
            @Html.DisplayFor(model => model.PostalCode)
        </dd>

    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
<div>  
    <partial name="_ApplicantResumes" model="@Model.ApplicantResume.ToList()" />   
</div>
<div>
    <partial name="_ApplicantEducations" model="@Model.ApplicantEducation.ToList()" />
</div>
<div>
    <partial name="_ApplicantSkills" model="@Model.ApplicantSkill.ToList()" />
</div>
<div>
    <partial name="_ApplicantWorkHistory" model="@Model.ApplicantWorkHistory.ToList()" />
</div>
<div>
    <partial name="_ApplicantJobApplications" model="@Model.ApplicantJobApplication.ToList()" />
</div>


