@model IEnumerable<CareerCloud.Pocos.ApplicantProfilePoco>

@{
    ViewData["Title"] = "Index";
}

<h1>List of Job Seekers</h1>

<p>
    <input type="Submit" value="Create New Profile" onclick="location.href = '@Url.Action("CreateNewprofileLogin", "SecurityLoginPocoes")'" />
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Full Name
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CurrentSalary)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CurrentRate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Currency)
            </th>
            <th>
                Current Address
            </th>


            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SecurityLogin.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CurrentSalary)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CurrentRate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Currency)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Street)
                @Html.DisplayFor(modelItem => item.City) /
                @Html.DisplayFor(modelItem => item.Province)
                @Html.DisplayFor(modelItem => item.PostalCode) /
                @Html.DisplayFor(modelItem => item.SystemCountryCode.Code)
            </td>


            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
