@model IEnumerable<CareerCloud.Pocos.ApplicantJobApplicationPoco>

@{
    ViewData["Title"] = "_ApplicantJobApplications";
}

<h2> Submitted Job Applications</h2>
<hr />
<h4> For Applying new jobs, search and Apply</h4>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ApplicationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimeStamp)
            </th>
            <th>
                Job ID
            </th>


            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ApplicationDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TimeStamp)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Job)
                </td>

                <td>
                    <a asp-action="Details" asp-controller="ApplicantJobApplication" asp-route-id="@item.Id">More Details</a> |
                    <a asp-action="Delete" asp-controller="ApplicantJobApplication" asp-route-id="@item.Id">Withdraw Application</a>

                </td>
            </tr>
        }
    </tbody>
</table>
