
@using X.PagedList.Mvc.Core;
@using X.PagedList;
@model IPagedList<CareerCloud.Pocos.CompanyProfilePoco>


<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewData["Title"] = "Index";
}
@using (Html.BeginForm("Index", "Student", FormMethod.Get))
{
}
<h1>List Of Employers</h1>

<p>
    <input type="Submit" value="Add new Company Profile" onclick="location.href = '@Url.Action("Create", "CompanyProfile")'" />
</p>

<table class="table">
    <thead>
        <tr>

            <th>
                Registration Date
            </th>
            <th>
                Company Website
            </th>
            <th>
                Contact Phone
            </th>
            <th>
                Contact Name
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.RegistrationDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CompanyWebsite)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ContactPhone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ContactName)
                </td>

                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> |

                </td>



            </tr>
        }

    </tbody>

</table>

<br />


    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

    @Html.PagedListPager(Model, page => Url.Action("Index", "CompanyProfile", new { page }))