@model IEnumerable<CareerCloud.Pocos.CompanyProfilePoco>

@{
    ViewData["Title"] = "Index";
}

<h1>List Of Employers</h1>

<p>
    <input type="Submit" value="Add new Company Profile" onclick="location.href = '@Url.Action("Create", "CompanyProfile")'" />
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Company Profile Id
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RegistrationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompanyWebsite)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContactPhone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContactName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                <b> @Html.DisplayFor(modelItem => item.Id)</b>

            <td>
              <td> 
                @Html.DisplayFor(modelItem => item.RegistrationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompanyWebsite)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContactPhone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContactName)
            </td>

            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> |
            
            </td>

        

        </tr>
        }

    </tbody>

</table>

